$align: left;
$bg-color: #ddd;
$bg-color2:rgba(222, 199, 243, 0.904);
$bg-color3:rgba(246, 235, 255, 0.753);
$color-01: #ff5;
$color-02: #999;
$color-03: #f00;
$color-04: rgb(212, 193, 193);
$color-05: rgba(222, 192, 223, 0.904);
$color-06:rgba(144, 80, 146, 0.904);
$color-default: #444;
$font-big: 3rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mb2: 2.5rem;
$mt2:2.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;
$tablet: 999px;